<% @posts.each do |post_obj| %>
<div class="post_container">
  <h4><%= post_obj.title %></h4>
  <a href="/view?post_id=<%= post_obj.id%>">
  <div class="post">
    <p><%= post_obj.content %></p>
    <% user = User.where('id = ?',post_obj.user_id).first.username %>
    <span class="poster_name">By: <%= user %></span>
    <% if session[:username] ==  user %>
      <span class="edit_post"><a href="/comment?post_id=<%= post_obj.id%>">Comment</a></span>
      <span class="edit_post"><a href="/edit?post_id=<%= post_obj.id%>">Edit Post</a></span>
    <% elsif !session[:username].nil?%>
      <span class="edit_post"><a href="/comment?post_id=<%= post_obj.id%>">Comment</a></span>
    <% end %>
  </div>
  </a>
  <div class="comment_container">
    <h4>Comments</h4>
    <div class="comment">
      <% comment = Comment.where('post_id = ?',post_obj.id) %>
      <% if !comment.nil? %>
        <% comment.each do |comment| %>
          <p><%= User.where(id: comment.user_id).first.username + ":&nbsp;&nbsp;" + comment.content %></p>
        <% end %>
      <% else %>
        <p>Be the first to comment.</p>
      <% end %>
    </div>
  </div>
  <hr />
</div>
<% end %>
