<% if !session[:username].nil? %>
<% user_id = User.where('username = ?',session[:username]).first.id%>
<% posts = Post.where('user_id = ?',user_id) %>
<h1>Welcome <%= session[:username]%></h1>

<form action="/edit_post" method="post">
  <input type="text" name="title"/>
  <textarea name="content"></textarea>
</form>

<h3>Your Posts</h3>
<% posts.each do |post_obj| %>
  <div class="post_container">
    <a href="/view?post_id=<%= post_obj.id%>">
    <div class="post">
      <p><%= post_obj.content %></p>
      <% user = User.where('id = ?',post_obj.user_id).first.username %>
      <span class="poster_name">By: <%= user %></span>
    </div>
    </a>
  </div>
<% end %>
<br />
<% comments = Comment.where('user_id = ?',user_id) %>
<h3>Your Comments</h3>
<% if comments %>
  <% comments.each do |comment| %>
      <p><%= Post.where('id = ?',comment.post_id).first.title + ": <br />" + comment.content %> <br /><br /></p>
  <% end %>
<% end %>
<a href="/logout">Logout</a>
<% else %>
<code>401 You are not authorized to view this page</code>
<% end %>
